// CalendarInput.module.scss
.wrapper {
    position: relative;
    width: 100%;
  }
  
  .dropdown {
    position: absolute;
    top: calc(100% + var(--static-space-4));
    left: 0;
    z-index: 10;
    animation: dropdownIn 0.2s ease-out;
    box-shadow: var(--shadow-l);
    background: var(--neutral-background-weak);
    border-radius: var(--radius-m);
    border: 1px solid var(--neutral-border-weak);
  }
  
  @keyframes dropdownIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }