.dropdown {
    outline: none;
}

.option {
    cursor: pointer;
    border-color: var(--static-transparent);
    border-width: 1px;
    border-style: solid;
    transition: var(--transition-property) var(--transition-duration-micro-medium) var(--transition-timing-function);

    &:hover, &:focus {
        background: var(--neutral-alpha-weak);
        border-color: var(--neutral-alpha-medium);
    }
    
    &.selected {
        background-color: var(--neutral-alpha-medium);
        border-color: var(--neutral-alpha-medium);
    }

    &.danger {
        color: var(--danger-alpha-weak);

        &:hover, &:focus {
            background-color: var(--danger-alpha-medium);
            color: var(--danger-on-background-medium);
        }
    }
}

.focused {
    background-color: var(--neutral-background-strong);
}

.divider {
    min-height: 1px;
    width: 100%;
    background-color: var(--neutral-border-medium);
    margin: var(--static-space-4) 0;
}