.flipcard-wrapper {
  perspective: 1000px;

  @media (max-width: 768px) {
    width: 80vw !important;
    margin: 0 auto 2rem !important;

    .flipcard-inner {
      width: 100% !important;
      height: auto !important;
      aspect-ratio: 1/1;
    }
  }
}