.xs { 
    font-size: var(--static-space-16)
}

.s { 
    font-size: var(--static-space-20)
}

.m { 
    font-size: var(--static-space-24)
}

.l { 
    font-size: var(--static-space-32)
}

.xl { 
    font-size: var(--static-space-40)
}