.overlay {
  animation: fadeIn 0.2s ease-out forwards;
  backdrop-filter: var(--backdrop-filter);

  &.closing {
    animation: fadeOut 0.2s ease-out forwards;
  }
}

.content {
  animation: scaleIn 0.2s ease-out forwards;

  &.closing {
    animation: scaleOut 0.2s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    backdrop-filter: blur(0);
  }
  to {
    opacity: 1;
    backdrop-filter: var(--backdrop-filter);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    backdrop-filter: var(--backdrop-filter);
  }
  to {
    opacity: 0;
    backdrop-filter: blur(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}
