.kbd {
    display: flex;
    justify-content: center;
    min-width: var(--static-space-32);
    background: var(--neutral-background-strong);
    border-radius: var(--radius-s);
    padding: var(--static-space-2) var(--static-space-4);
    color: var(--neutral-on-background-medium);
    border: 1px solid var(--neutral-border-strong);
}