.numberInput {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.stepper {
  pointer-events: visibleFill;
  &:hover {
    background-color: var(--neutral-alpha-medium);
  }
}