.option {
    border-color: var(--static-transparent);
  
    &:hover, &:focus {
        background: var(--neutral-alpha-weak);
        border-color: var(--neutral-alpha-medium);
    }
    
    &.selected {
        background: var(--neutral-alpha-medium);
        border-color: var(--neutral-alpha-medium);
    }
  
    &.highlighted {
        background: var(--static-transparent);
        border-color: var(--neutral-alpha-medium);
    }
  
    &.danger {
        color: var(--danger-on-background-medium);
  
        &:hover, &:focus {
            background: var(--danger-solid-strong);
            color: var(--danger-on-solid-strong);
            border-color: var(--danger-border-strong);
        }
    }
  }
  
  .focused {
    background: var(--neutral-background-strong);
  }