.inputs {
  font-size: var(--font-size-heading-xl);
  transition: border-color 0.2s, box-shadow 0.2s;
  width: var(--static-space-48);
  max-width: var(--static-space-48);

  input {
    text-align: center;
  }

  &:focus-within {
    animation: focusAnimation 0.3s forwards;
  }
}
  
@keyframes focusAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}