.revealFx {
    mask-image: linear-gradient(to right, black 0%, black 25%, transparent 50%);
    mask-size: 300% 100%;
    transition: all ease-in-out;
  
    &.hidden {
      mask-position: 100% 0;
      filter: blur(0.5rem);
    }
  
    &.revealed {
      mask-position: 0 0;
      filter: blur(0);
    }
}