.container {
    isolation: isolate;
}

.scroller {
    scrollbar-width: none;
    isolation: isolate;
  
    &::-webkit-scrollbar {
        display: none;
    }
}
  
.row {
    overflow-x: auto;
}
  
.column {
    overflow-y: auto;
}