.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--neutral-on-background-weak);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fadeIn {
    transform-origin: top right;
    animation: fadeIn var(--transition-duration-micro-medium) var(--transition-timing-function);
}