@keyframes skeleton-loading {
    0% {
        background-color: var(--neutral-background-strong);
    }
    50% {
        background-color: var(--neutral-background-medium);
    }
    100% {
        background-color: var(--neutral-background-strong);
    }
}

.skeleton {
    animation: skeleton-loading 1.5s infinite;
    border-radius: var(--radius-l);

    &.line {
        &.h-xs {
            height: var(--static-space-8);
        }
        &.h-s {
            height: var(--static-space-12);
        }
        &.h-m {
            height: var(--static-space-16);
        }
        &.h-l {
            height: var(--static-space-20);
        }
        &.h-xl {
            height: var(--static-space-24);
        }

        &.w-xs {
            width: 25%;
        }
        &.w-s {
            width: 33%;
        }
        &.w-m {
            width: 50%;
        }
        &.w-l {
            width: 75%;
        }
        &.w-xl {
            width: 100%;
        }
    }

    &.circle {
        border-radius: var(--radius-999);

        &.w-xs {
            width: var(--static-space-20);
            height: var(--static-space-20);
        }
        &.w-s {
            width: var(--static-space-24);
            height: var(--static-space-24);
        }
        &.w-m {
            width: var(--static-space-32);
            height: var(--static-space-32);
        }
        &.w-l {
            width: var(--static-space-40);
            height: var(--static-space-40);
        }
        &.w-xl {
            width: var(--static-space-160);
            height: var(--static-space-160);
        }
    }
}