.panel {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: scale(0.2);
    transform-origin: top right;

    &.open {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }

    &:not(.open) {
        z-index: -1;
        filter: blur(0.25rem);
    }
}