.toastContainer {
    bottom: var(--responsive-space-l);
    left: 50%;
    transform: translateX(-50%);
}

.toastWrapper {
    bottom: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.toastAnimation {
    animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}