  /****************************/
 /*          COLOR           */
/****************************/

/* NEUTRAL */
.color-inherit {
    color: inherit;
}

/* NEUTRAL */
.neutral-on-background-weak {
    color: var(--neutral-on-background-weak);
}

.neutral-on-background-medium {
    color: var(--neutral-on-background-medium);
}

.neutral-on-background-strong {
    color: var(--neutral-on-background-strong);
}

.neutral-on-solid-weak {
    color: var(--neutral-on-solid-weak);
}

.neutral-on-solid-medium {
    color: var(--neutral-on-solid-medium);
}

.neutral-on-solid-strong {
    color: var(--neutral-on-solid-strong);
}

/* BRAND */
.brand-on-background-weak {
    color: var(--brand-on-background-weak);
}

.brand-on-background-medium {
    color: var(--brand-on-background-medium);
}

.brand-on-background-strong {
    color: var(--brand-on-background-strong);
}

.brand-on-solid-weak {
    color: var(--brand-on-solid-weak);
}

.brand-on-solid-medium {
    color: var(--brand-on-solid-medium);
}

.brand-on-solid-strong {
    color: var(--brand-on-solid-strong);
}

/* ACCENT */
.accent-on-background-weak {
    color: var(--accent-on-background-weak);
}

.accent-on-background-medium {
    color: var(--accent-on-background-medium);
}

.accent-on-background-strong {
    color: var(--accent-on-background-strong);
}

.accent-on-solid-weak {
    color: var(--accent-on-solid-weak);
}

.accent-on-solid-medium {
    color: var(--accent-on-solid-medium);
}

.accent-on-solid-strong {
    color: var(--accent-on-solid-strong);
}

/* INFO */
.info-on-background-weak {
    color: var(--info-on-background-weak);
}

.info-on-background-medium {
    color: var(--info-on-background-medium);
}

.info-on-background-strong {
    color: var(--info-on-background-strong);
}

.info-on-solid-weak {
    color: var(--info-on-solid-weak);
}

.info-on-solid-medium {
    color: var(--info-on-solid-medium);
}

.info-on-solid-strong {
    color: var(--info-on-solid-strong);
}

/* DANGER */
.danger-on-background-weak {
    color: var(--danger-on-background-weak);
}

.danger-on-background-medium {
    color: var(--danger-on-background-medium);
}

.danger-on-background-strong {
    color: var(--danger-on-background-strong);
}

.danger-on-solid-weak {
    color: var(--danger-on-solid-weak);
}

.danger-on-solid-medium {
    color: var(--danger-on-solid-medium);
}

.danger-on-solid-strong {
    color: var(--danger-on-solid-strong);
}

/* WARNING */
.warning-on-background-weak {
    color: var(--warning-on-background-weak);
}

.warning-on-background-medium {
    color: var(--warning-on-background-medium);
}

.warning-on-background-strong {
    color: var(--warning-on-background-strong);
}

.warning-on-solid-weak {
    color: var(--warning-on-solid-weak);
}

.warning-on-solid-medium {
    color: var(--warning-on-solid-medium);
}

.warning-on-solid-strong {
    color: var(--warning-on-solid-strong);
}

/* SUCCESS */
.success-on-background-weak {
    color: var(--success-on-background-weak);
}

.success-on-background-medium {
    color: var(--success-on-background-medium);
}

.success-on-background-strong {
    color: var(--success-on-background-strong);
}

.success-on-solid-weak {
    color: var(--success-on-solid-weak);
}

.success-on-solid-medium {
    color: var(--success-on-solid-medium);
}

.success-on-solid-strong {
    color: var(--success-on-solid-strong);
}