.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.fit-width {
  width: fit-content;
}

.fit-height {
  height: fit-content;
}

.fit {
  width: fit-content;
  height: fit-content;
}

.min-width-0 {
  min-width: 0;
}

.min-height-0 {
  min-height: 0;
}