.fill-width {
  width: 100%;
}

.fill-height {
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.fit-width {
  width: fit-content;
}

.fit-height {
  height: fit-content;
}

.fit {
  width: fit-content;
  height: fit-content;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-flex-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-flex-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.align-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.text-decoration-none {
  text-decoration: none;
}

.reset-button-styles {
  background: none;
  padding: 0;
  outline: 0;
  border: 0;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-sticky {
  position: sticky;
}

.position-static {
  position: static;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-scroll{
  overflow-x: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto{
  overflow-y: auto;
}

.overflow-y-scroll{
  overflow-y: scroll;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll{
  overflow: scroll;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden{
  overflow-y: hidden;
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

.cursor-interactive {
  cursor: var(--cursor-interactive);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.cursor-text {
  cursor: text;
}

.cursor-move {
  cursor: move;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-wait {
  cursor: wait;
}

.cursor-help {
  cursor: help;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.cursor-zoom-out {
  cursor: zoom-out;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 { 
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

.z-index--1 {
  z-index: -1;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.transition-micro-short {
  transition: var(--transition-micro-short);
}

.transition-micro-medium {
  transition: var(--transition-micro-medium);
}

.transition-micro-long {
  transition: var(--transition-micro-long);
}

.transition-macro-short {
  transition: var(--transition-macro-short);
}

.transition-macro-medium {
  transition: var(--transition-macro-medium);
}

.transition-macro-long {
  transition: var(--transition-macro-long);
}

.top-0 { top: 0; }
.left-0 { left: 0; }
.bottom-0 { bottom: 0; }
.right-0 { right: 0; }

.top-1 { top: var(--static-space-1); }
.left-1 { left: var(--static-space-1); }
.bottom-1 { bottom: var(--static-space-1); }
.right-1 { right: var(--static-space-1); }

.top-2 { top: var(--static-space-2); }
.left-2 { left: var(--static-space-2); }
.bottom-2 { bottom: var(--static-space-2); }
.right-2 { right: var(--static-space-2); }

.top-4 { top: var(--static-space-4); }
.left-4 { left: var(--static-space-4); }
.bottom-4 { bottom: var(--static-space-4); }
.right-4 { right: var(--static-space-4); }

.top-8 { top: var(--static-space-8); }
.left-8 { left: var(--static-space-8); }
.bottom-8 { bottom: var(--static-space-8); }
.right-8 { right: var(--static-space-8); }

.top-12 { top: var(--static-space-12); }
.left-12 { left: var(--static-space-12); }
.bottom-12 { bottom: var(--static-space-12); }
.right-12 { right: var(--static-space-12); }

.top-16 { top: var(--static-space-16); }
.left-16 { left: var(--static-space-16); }
.bottom-16 { bottom: var(--static-space-16); }
.right-16 { right: var(--static-space-16); }

.top-20 { top: var(--static-space-20); }
.left-20 { left: var(--static-space-20); }
.bottom-20 { bottom: var(--static-space-20); }
.right-20 { right: var(--static-space-20); }

.top-24 { top: var(--static-space-24); }
.left-24 { left: var(--static-space-24); }
.bottom-24 { bottom: var(--static-space-24); }
.right-24 { right: var(--static-space-24); }

.top-32 { top: var(--static-space-32); }
.left-32 { left: var(--static-space-32); }
.bottom-32 { bottom: var(--static-space-32); }
.right-32 { right: var(--static-space-32); }

.top-40 { top: var(--static-space-40); }
.left-40 { left: var(--static-space-40); }
.bottom-40 { bottom: var(--static-space-40); }
.right-40 { right: var(--static-space-40); }

.top-48 { top: var(--static-space-48); }
.left-48 { left: var(--static-space-48); }
.bottom-48 { bottom: var(--static-space-48); }
.right-48 { right: var(--static-space-48); }

.top-56 { top: var(--static-space-56); }
.left-56 { left: var(--static-space-56); }
.bottom-56 { bottom: var(--static-space-56); }
.right-56 { right: var(--static-space-56); }

.top-64 { top: var(--static-space-64); }
.left-64 { left: var(--static-space-64); }
.bottom-64 { bottom: var(--static-space-64); }
.right-64 { right: var(--static-space-64); }

.top-80 { top: var(--static-space-80); }
.left-80 { left: var(--static-space-80); }
.bottom-80 { bottom: var(--static-space-80); }
.right-80 { right: var(--static-space-80); }

.top-104 { top: var(--static-space-104); }
.left-104 { left: var(--static-space-104); }
.bottom-104 { bottom: var(--static-space-104); }
.right-104 { right: var(--static-space-104); }

.top-128 { top: var(--static-space-128); }
.left-128 { left: var(--static-space-128); }
.bottom-128 { bottom: var(--static-space-128); }
.right-128 { right: var(--static-space-128); }

.top-160 { top: var(--static-space-160); }
.left-160 { left: var(--static-space-160); }
.bottom-160 { bottom: var(--static-space-160); }
.right-160 { right: var(--static-space-160); }