[data-border="playful"] {
    --radius-xs:        0.25rem;
    --radius-xs-nest-4: 0.375rem;
    --radius-xs-nest-8: 0.5rem;

    --radius-s:         0.5rem;
    --radius-s-nest-4:  0.75rem;
    --radius-s-nest-8:  1rem;

    --radius-m:         0.75rem;
    --radius-m-nest-4:  1rem;
    --radius-m-nest-8:  1.25rem;
    
    --radius-l:         1rem;
    --radius-l-nest-4:  1.25rem;
    --radius-l-nest-8:  1.75rem;

    --radius-xl:        1.25rem;
    --radius-xl-nest-4: 1.5rem;
    --radius-xl-nest-8: 1.875rem;

    --radius-999:       999rem;
}

[data-border="conservative"] {
    --radius-xs:        0.125rem;
    --radius-xs-nest-4: 0.25rem;
    --radius-xs-nest-8: 0.375rem;

    --radius-s:         0.25rem;
    --radius-s-nest-4:  0.375rem;
    --radius-s-nest-8:  0.5rem;

    --radius-m:         0.375rem;
    --radius-m-nest-4:  0.5rem;
    --radius-m-nest-8:  0.625rem;
    
    --radius-l:         0.625rem;
    --radius-l-nest-4:  0.875rem;
    --radius-l-nest-8:  1.125rem;

    --radius-xl:        0.75rem;
    --radius-xl-nest-4: 1rem;
    --radius-xl-nest-8: 1.25rem;

    --radius-999:       999rem;
}

[data-border="rounded"] {
    --radius-xs:        1rem;
    --radius-xs-nest-4: 1.25rem;
    --radius-xs-nest-8: 1.5rem;

    --radius-s:         1.25rem;
    --radius-s-nest-4:  1.5rem;
    --radius-s-nest-8:  2rem;

    --radius-m:         1.25rem;
    --radius-m-nest-4:  1.5rem;
    --radius-m-nest-8:  1.875rem;
    
    --radius-l:         1.75rem;
    --radius-l-nest-4:  2rem;
    --radius-l-nest-8:  2.5rem;

    --radius-xl:        2rem;
    --radius-xl-nest-4: 2.25rem;
    --radius-xl-nest-8: 2.75rem;

    --radius-999:       999rem;
}