[data-theme="dark"] {
  --data-blue:     var(--scheme-blue-400);
  --data-indigo:   var(--scheme-indigo-400);
  --data-green:    var(--scheme-green-400);
  --data-aqua:     var(--scheme-aqua-400);
  --data-violet:   var(--scheme-violet-400);
  --data-orange:   var(--scheme-orange-400);
  --data-red:      var(--scheme-red-400);
  --data-cyan:     var(--scheme-cyan-400);
  --data-magenta:  var(--scheme-magenta-400);
  --data-moss:     var(--scheme-moss-400);
  --data-emerald:  var(--scheme-emerald-400);
  --data-yellow:   var(--scheme-yellow-400);
  --data-gray:     var(--scheme-gray-400);
  --data-contrast: var(--static-white);
}

[data-theme="light"] {
  --data-blue:     var(--scheme-blue-400);
  --data-indigo:   var(--scheme-indigo-400);
  --data-green:    var(--scheme-green-400);
  --data-aqua:     var(--scheme-aqua-400);
  --data-violet:   var(--scheme-violet-400);
  --data-orange:   var(--scheme-orange-400);
  --data-red:      var(--scheme-red-400);
  --data-cyan:     var(--scheme-cyan-400);
  --data-magenta:  var(--scheme-magenta-400);
  --data-pink:     var(--scheme-pink-400);
  --data-moss:     var(--scheme-moss-400);
  --data-emerald:  var(--scheme-emerald-400);
  --data-yellow:   var(--scheme-yellow-400);
  --data-gray:     var(--scheme-gray-400);
  --data-contrast: var(--static-black);
}

[data-theme="dark"] [data-viz="divergent"] {
  --data-blue:     var(--scheme-red-500);
  --data-indigo:   var(--scheme-orange-500);
  --data-green:    var(--scheme-yellow-700);
  --data-aqua:     var(--scheme-yellow-800);
  --data-violet:   var(--scheme-yellow-900);
  --data-purple:   var(--scheme-moss-1000);
  --data-cyan:     var(--scheme-moss-900);
  --data-orange:   var(--scheme-aqua-800);
  --data-red:      var(--scheme-cyan-700);
}

[data-theme="light"] [data-viz="divergent"] {
  --data-blue:     var(--scheme-red-500);
  --data-indigo:   var(--scheme-orange-500);
  --data-green:    var(--scheme-yellow-700);
  --data-aqua:     var(--scheme-yellow-800);
  --data-violet:   var(--scheme-yellow-900);
  --data-purple:   var(--scheme-moss-1000);
  --data-cyan:     var(--scheme-moss-900);
  --data-orange:   var(--scheme-aqua-800);
  --data-red:      var(--scheme-cyan-700);
}

[data-theme="dark"] [data-viz="sequential"] {
  --data-blue:     var(--scheme-blue-100);
  --data-indigo:   var(--scheme-blue-200);
  --data-green:    var(--scheme-blue-300);
  --data-aqua:     var(--scheme-blue-400);
  --data-blue:     var(--scheme-blue-500);
  --data-indigo:   var(--scheme-blue-600);
  --data-green:    var(--scheme-blue-700);
  --data-aqua:     var(--scheme-blue-800);
  --data-violet:   var(--scheme-blue-900);
}

[data-theme="light"] [data-viz="sequential"] {
  --data-blue:     var(--scheme-blue-100);
  --data-indigo:   var(--scheme-blue-200);
  --data-green:    var(--scheme-blue-300);
  --data-aqua:     var(--scheme-blue-400);
  --data-blue:     var(--scheme-blue-500);
  --data-indigo:   var(--scheme-blue-600);
  --data-green:    var(--scheme-blue-700);
  --data-aqua:     var(--scheme-blue-800);
  --data-violet:   var(--scheme-blue-900);
}