@import "@/once-ui/tokens/scheme.scss";
@import "@/once-ui/tokens/function.scss";
@import "@/once-ui/tokens/theme.scss";
@import "@/once-ui/tokens/layout.scss";
@import "@/once-ui/tokens/border.scss";
@import "@/once-ui/tokens/shadow.scss";
@import "@/once-ui/tokens/typography.scss";